<p id="notice"><%= notice %></p>

<h1>Listing Repair Requests</h1>

<table>
  <thead>
    <tr>
      <th>Open date</th>
      <th>Close date</th>
      <th>Request details</th>
      <th>Submitter</th>
      <th>Responder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repair_requests.each do |repair_request| %>
      <tr>
        <td><%= repair_request.open_date %></td>
        <td><%= repair_request.close_date %></td>
        <td><%= repair_request.request_details %></td>
        <td><%= repair_request.submitter_id %></td>
        <td><%= repair_request.responder_id %></td>
        <td><%= link_to 'Show', repair_request %></td>
        <td><%= link_to 'Edit', edit_repair_request_path(repair_request) %></td>
        <td><%= link_to 'Destroy', repair_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repair request', new_repair_request_path %>
